[2022-04-15 13:41] pzinn opened #2437 "product with negative number argument"
`product(ZZ,Function)` does not worry about the case where the first argument is negative. the result is that it outputs the function at 0 in this case, which is not very reasonable:
[code]
it should either throw an error, or give 1. which?

this affects various functions calling `product`, such as `binomial(RingElement,ZZ)`.

[2022-04-15 13:54] pzinn commented on #2437
there's the same problem with `sum`.

[2022-04-15 14:09] mikestillman commented on #487
@DanGrayson This problem still occurs, although it hangs, rather than crashes for me.  The problem here is that even though the coefficient ring KK is a quotient of a polynomial ring, the Bareiss algorithm is being chosen.  The default in that case should be Cofactor (in which case the determinant computed is immediately returned).  We need a good predicate for the case of a polynomial ring to mak

[2022-04-15 14:11] mikestillman commented on #1856
@DanGrayson I have fixed this (I believe), will issue a pull request soon.

[2022-04-15 14:16] mikestillman commented on #2374
@pzinn, @DanGrayson  I am working on fixing these finally.  My plan is to throw exceptions.  Currently an "ERROR" is used, which has a number of issues (assert statement is used, which is turned off, and since the element can be 0, an assert is incorrect anyway...)

[2022-04-15 14:20] mikestillman commented on #2346
@DanGrayson This is another case where Bareiss method fails, but is being chosen as the default.

[2022-04-15 14:28] DanGrayson commented on #2437
Oops, I wonder how that happened.  I think the good way to go would be to regard those as empty sums and empty products, and to return 0 and 1 respectively.  Which sometimes happens:
[code]

[2022-04-15 14:29] DanGrayson commented on #2437
Strike what I said, it seems to be returning the value of the function at 0:
[code]

[2022-04-15 14:35] DanGrayson commented on #487
We should fix the engine so it doesn't hang or crash, but gives an error message.  Can you do that?  Then I'm sure I could devise the appropriate test at top level.  Let's collaborate on a branch.

[2022-04-15 14:36] mikestillman commented on #2105
I believe this was fixed, in our tbb pull request recently.  @d-torrance @mahrud @DanGrayson Do you agree?

[2022-04-15 14:38] DanGrayson commented on #2346
Let's fix that, too.  Is the problem that there are inverses in the ring?

[2022-04-15 14:38] d-torrance commented on #2105
Yes, this was fixed.

[2022-04-15 14:39] #2105 closed

[2022-04-15 14:40] mikestillman commented on #1589
@mahrud I am inclined to agree, especially as this type was the source of the recent MonomialIdeal::sat bug...

On some examples though, there can be a serious difference in size of the object (a monomial ideal can take much less space, if there are many variables).  But these are not common cases.

[2022-04-15 14:41] mikestillman commented on #2346
@DanGrayson There are a number of inverse crashes/problems occuring (i.e. several github issues).  Basically all the same problem, I think.  I'm working on them.

[2022-04-15 14:48] mikestillman commented on #1064
@DanGrayson @d-torrance Have you seen this crash since we fixed the MonomialIdeal::sat bug?

[2022-04-15 15:10] d-torrance commented on #1064
Not since the last comment I made on Mar. 17, which was before you opened #2424.  It's pretty rare, though.  It's only showing up on the PPA builds like once per month or so.

[2022-04-15 15:11] pzinn commented on #2437
I'll take care of it.

[2022-04-15 15:20] DanGrayson commented on #1064
I haven't seen it.  But I'm less observant than Doug.

[2022-04-15 15:31] DanGrayson commented on #2437
Thanks!

[2022-04-15 15:40] DanGrayson commented on #1668
That's been done in https://github.com/Macaulay2/M2/pull/2433 -- enjoy!

[2022-04-17 19:40] kschwede opened #2445 "M2 crash with memory error (default settings not optimal?)"
Hi all,

Several years ago @DanGrayson showed me how to compile M2 so that it certain commands don't crash with a complaint about memory, even when there is a great deal of memory available (is this related to the garbage collector?)

``Too many heap sections: Increase MAXHINCR or MAX_HEAP_SECTS
Aborted (core dumped)``

https://groups.google.com/g/macaulay2/c/igGEcSUD1j0/m/ArgDsN_tKy4J

In particu

[2022-04-17 21:12] DanGrayson commented on #2445
If we find libgc on the system, then we don't compile it ourselves; nowadays we often (or maybe even always) find it on the system.  If we want always to have a version of libgc configured for large memory, we should always build libgc ourselves.

If you want to set that up for yourself without rebuilding all of M2, you can build libgc yourself with the large memory options, and add its location t

[2022-04-17 21:48] kschwede commented on #2445
Setting that for the next release would be great, thanks!

[2022-04-17 21:49] DanGrayson commented on #2445
Will do.

[2022-04-18 01:16] mikestillman opened #2447 "integer exponentiation stops M2"
The following should give an error.
[code]

Instead, we get
[code]
and this stops the program.

I am currently working on fixing divisions by zero in the engine (i.e. making them return an error, rather than return e.g. 0), and found this.  The engine is never called in the above routine.

[2022-04-20 16:39] AviSteiner opened #2454 "MultiplierIdeals package doesn't work"
I am using Macaulay2 version 1.19.1. I get the following error:

[code]

[2022-04-21 13:45] DanGrayson commented on #2454
I can't reproduce that here.  Perhaps you have a corrupted version of the file "MultiplierIdeals.m2" in your current directory.

[2022-04-24 02:45] d-torrance commented on #2119
Possibly related -- got [this segfault in an amd64 PPA build in Ubuntu 18.04](https://launchpadlibrarian.net/598164951/buildlog_ubuntu-bionic-amd64.macaulay2_1.19.1.1+git202204231306-0ppa202204231022~ubuntu18.04.1_BUILDING.txt.gz):

[code]

[2022-04-24 22:53] morrowmh opened #2461 "Typo in headline of schreyerOrder documentation"
In the headline of http://www2.macaulay2.com/Macaulay2/doc/Macaulay2/share/doc/Macaulay2/Macaulay2Doc/html/_schreyer__Order.html there is an 'e' missing from 'Schreyer'.

[2022-04-25 00:23] d-torrance commented on #1463
Possibly related, from a [Debian ppc64el build](https://buildd.debian.org/status/fetch.php?pkg=macaulay2&arch=ppc64el&ver=1.19.1%2Bds-6%2Bb2&stamp=1650737731&raw=0):

[code]

[2022-04-25 00:32] d-torrance commented on #2119
A couple more issues with this package in Debian [ppc64el](https://buildd.debian.org/status/fetch.php?pkg=macaulay2&arch=ppc64el&ver=1.19.1%2Bds-6%2Bb2&stamp=1650754325&raw=0) [builds](https://buildd.debian.org/status/fetch.php?pkg=macaulay2&arch=ppc64el&ver=1.19.1%2Bds-6%2Bb2&stamp=1650804921&raw=0):

[code]

[code]

[2022-04-25 13:41] DanGrayson commented on #2461
Thanks -- fixed in commit b8e5a5d5203e7f1e0e0245fa872f9e5adaff4c4e .

[2022-04-25 13:41] #2461 closed

[2022-04-25 21:39] #2014 closed

[2022-04-25 21:39] #2437 closed

[2022-04-26 11:44] #1186 closed

[2022-04-27 12:42] DanGrayson commented on #2447
fixed:

[code]

[2022-04-27 12:42] #2447 closed

[2022-04-27 12:43] #2445 closed

[2022-04-27 12:52] #2395 closed

[2022-04-27 13:19] DanGrayson commented on #2384
fix in commit ffa362a00e0dbd0fa6708849148c4659b62ed145

[2022-04-27 13:19] #2384 closed

[2022-04-27 13:21] DanGrayson commented on #2371
fixed:

[code]

[2022-04-27 17:25] mikestillman commented on #2371
I think that this isn't quite solved.  We seem to have cases where symbols owned by packages is making it impossible to load (both) packages?  @mahrud Could you be a bit more specific on the example issue you had?

[2022-04-27 17:59] mahrud commented on #2371
Sure. I'm a bit busy this week but I can provide a code snipped next week.

Here is a toy version: both `rank` and `dim` are defined in the Core. Suppose I have two types `T1` and `T2` defined by packages `P1` and `P2`, respectively, and let's say `rank T1` depends on `rank T2` and `dim T2` depends on `dim T1`.

This is currently not possible to do currently (without using various kludges, like ca

[2022-04-27 20:10] denham0 commented on #2454
@DanGrayson I've got Macaulay2 version 1.19.1 running on OS X as well as Ubuntu 16.04.  The error @AviSteiner notes happens for me only on my Ubuntu 16.04 system (perhaps the same distribution he's using.)  Not on my Mac.

[2022-04-27 20:11] AviSteiner commented on #2454
I'm using Ubuntu 20.04.3 LTS (GNU/Linux 5.8.0-63-generic x86_64)

[2022-04-27 23:00] DanGrayson commented on #2454
Could you try adding "-q" to the M2 command line and try again?

We haven't released a version of M2 for Ubuntu 16.04 since 2019.  How did you get M2 1.19.1 installed there?

[2022-04-28 00:22] denham0 commented on #2454
Sorry, it’s actually 18.04.  Maybe my brain missed an update.

This is what I get:

***@***.***:~$ M2 -q
Macaulay2, version 1.19.1
with packages: ConwayPolynomials, Elimination, IntegralClosure, InverseSystems,
               LLLBases, MinimalPrimes, PrimaryDecomposition, ReesAlgebra,
               Saturation, TangentCone

i1 : needsPackage "MultiplierIdeals"
--warning: symbol "Classic" in Packag

[2022-04-28 11:20] DanGrayson commented on #2454
The effect of "-q" on the command line is to omit the user "application directory" from the path.  That's where packages get installed when you run "installPackage" on them.  So maybe you have an old version of MultiplierIdeals there, since with "-q" the package loads correctly.  You could try

`uninstallPackage "MultiplierIdeals"`

to get rid of it, or

`uninstallAllPackages()`

to get rid of all

[2022-04-28 16:52] denham0 commented on #2454
Thanks, it turns out it was a conflict coming from the development version of HyperplaneArrangements.

[2022-04-28 18:20] DanGrayson commented on #2454
I'm glad it worked out.

[2022-04-29 14:02] d-torrance commented on #1064
This happened again in an [s390x PPA build in Ubuntu 22.04](https://launchpadlibrarian.net/598605253/buildlog_ubuntu-jammy-s390x.macaulay2_1.19.1.1+git202204261132-0ppa202204261608~ubuntu22.04.1_BUILDING.txt.gz).  This is the first time I've seen it since the MonomialIdeal::sat bug was fixed.

[code]

[2022-04-29 15:24] antonleykin commented on #1456
@d-torrance, I'm still struggling to reproduce this (last attempt: on Ubuntu 20.04, under `gdb`). Do you have any recent sightings of this beast?

[2022-04-29 15:50] d-torrance commented on #1456
Not since that one on March 24.  It's very, very rare!

[2022-04-29 17:20] AviSteiner commented on #2454
Well, it hasn't quite worked out yet. Graham, Greg, and I still need to figure out what we did that's making this happen. The only thing I can think of is that we have some exports with the same name as exports from MultiplierIdeals, but that shouldn't make a difference.

[2022-04-30 22:23] jchen419 opened #2467 "Making sets Sets"
Currently, the `set` method is only defined on `VisibleList`s. Trying to turn a `Set` into a `Set` gives an error:
[code]
It seems sensible for `set` to act as the identity on a `Set` (which is how e.g. `sequence` and `toList` behave). Can this be done at top-level?
[code]

[2022-04-30 22:37] pzinn commented on #2467
reminds me of https://github.com/Macaulay2/M2/issues/1499. if we made `ideal` idempotent, we could fix this...

[2022-05-01 13:04] DanGrayson commented on #2467
This is a good idea.   Other things might come along later that can be converted to sets, too, so it would be good to change it from a compiled function to a method function.  I did that recently for `toList`, this way:
[code]

[2022-05-01 14:01] DanGrayson commented on #2454
Try setting `notify = true` before loading it, so you can see which file is actually being loaded.  Better yet, add `--notify` to the M2 command line to see which version of everything else is being loaded.

[2022-05-02 15:51] DanGrayson commented on #2371
I don't see a principled way to make that work.

I'm actually glad that this issue is still open, because I have a better fix coming along on my branch fix-documentation-of-items-from-packages -- the error message will look like this:

[code]

[2022-05-04 17:05] DanGrayson commented on #2454
Okay, here's what's happening.

You have installed a modern version of the package HyperplaneArrangements, which now exports `multiplierIdeal`.  (It also exports `multIdeal`, which seems to be a bad idea, since the names are so similar.)

The package MultiplierIdeals depends on the package HyperplaneArrangements, so when MultiplierIdeals is being loaded, it first loads HyperplaneArrangements.  The

[2022-05-04 18:47] AviSteiner commented on #2454
@DanGrayson  `multIdeal` is a synonym for `multiplierIdeal`. It's only there for backwards compatibility.

I did what you suggested, and now everything works. **However**: `logCanonicalThreshold` as defined in MultiplierIdeals _does_ override the definition from `HyperplaneArrangements'. How do I deal with this so that things don't go wrong later?

[2022-05-04 19:08] AviSteiner commented on #2454
@ggsmith (Just to loop you in)

[2022-05-04 19:13] ggsmith commented on #2454
I'm in the process of fixing this issue as I prepare a pull request for our new version of HyperplaneArrangements.

[2022-05-04 19:15] AviSteiner commented on #2454
I've already "fixed" it, modulo the problem with overriding `logCanonicalThreshold`. I also found a bug in `trim`, which I fixed. I'll push everything now.

[2022-05-04 19:18] DanGrayson commented on #2454
Get together with the authors of the other package and decide whose code is better, then eliminate one in favor of the other.

[2022-05-04 19:29] DanGrayson commented on #2454
There is a way to create a true synonym in the list of exports:

[code]

See https://faculty.math.illinois.edu/Macaulay2/doc/Macaulay2-1.19.1/share/doc/Macaulay2/Macaulay2Doc/html/_export.html

[2022-05-05 17:15] DanGrayson opened #2477 "`exportFrom` documentation misfeature"
Don't try to document functions exported from other packages.  It can cause problems.

[code]

[2022-05-05 17:36] mahrud commented on #2477
What problems?

[2022-05-05 17:39] DanGrayson commented on #2477
M2 picks up the example code for the symbol from the documentation of the other package and tries to rerun it.  Running the code may fail with an error, because not all the symbols exported by the other package are present.

[2022-05-05 17:40] DanGrayson commented on #2477
Somehow we should record the fact that a symbol exported from another package is not part of this package.

Or maybe we should just get rid of `exportFrom` -- does anyone really need it, when they can export the entire package?

[2022-05-05 17:50] mahrud commented on #2477
Can you demonstrate this with an example?

When `exportFrom` is used, it means that symbol is now part of this package.

Yes, I do.

[2022-05-05 18:11] DanGrayson commented on #2477
I'll forward you the files from Greg Smith.

We should have a symbol belonging to two packages.

For what?

[2022-05-05 18:53] mahrud commented on #2477
It should only belong to the new package. Maybe you want a check that the symbol isn't exported in the first package.

In `LocalRings`, `Saturation`, and `MinimalPrimes`. Why does it matter? It would be a breaking change.

[2022-05-05 18:55] mikestillman commented on #2477
I'm interested in this discussion.  But I don't really understand what either of you are saying...

[2022-05-05 19:38] mikestillman opened #2479 "autotools checks in mathicgb, memtailor, mathic fail"
On a Mac M1, I get the following error during a `gmake -k check` (in the Macaulay2 build).  @DanGrayson @d-torrance  Is it easy to change the tests to not change the ulimit on the mac?

[code]

[2022-05-05 20:18] DanGrayson commented on #2479
I get the same on the Mac book.  I'll fix it.

[2022-05-05 20:56] DanGrayson commented on #2477
A dictionary is a hash table that converts strings to symbols.  When a package exports a symbol, it adds a new entry to the global dictionary of the package, so other code can see it.  When a package exports a symbol using `exportFrom`, it takes a symbol from another package's internal dictionary and adds an entry for it to the global dictionary of the current package.  This may result in the symb

[2022-05-05 21:02] DanGrayson commented on #2479
fixed in commit 0bdc6c13013171a329e7d14f002c6c9d63aa3f46

[2022-05-05 21:02] #2479 closed

[2022-05-07 16:12] DanGrayson opened #2484 "Check that keywords are all strings."
This will fix it.

[code]

The error message should be improved.

_Originally posted by @DanGrayson in https://github.com/Macaulay2/M2/issues/2482#issuecomment-1120234627_

[2022-05-07 20:55] ThomasXielt opened #2486 "FitnessShape Function"
Hello, I am very new to Macaulay 2 and I have downloaded it to find Markov bases and triangulations of a fitness surface. The paper I am reading used version 0.9.95, and it advises me to load "fitness.m2". I have stored my data in a text file named "mydata", yet after running fitnessShape "mydata" I get this error message:
fitnessShape "mydata"

stdio:5:1:(3): error: no method for adjacent objects

[2022-05-07 21:32] DanGrayson commented on #2486
The file fitness.m2 and various example files are located here: https://authors.library.caltech.edu/74859/

[2022-05-08 00:15] ThomasXielt commented on #2486
Could this problem be occurring because I am using the Web version? The link you sent me was the paper I am following, and despite following all of the instructions I am still met with

stdio:5:1:(3): error: no method for adjacent objects:
-- fitnessShape (of class Symbol)
-- SPACE "mydata" (of class String)

This is after loading fitness.m2 and uploading the data file. Should I switch to the non-

[2022-05-08 00:20] DanGrayson commented on #2486
I doubt you loaded the file "fitness.m2".  Here's the way it looks for me:

[code]

[2022-05-08 00:36] ThomasXielt commented on #2486
You are right, however when I just type load "fitness.m2" I am met with
stdio:1:1:(3): error: file not found on path: "fitness.m2"

I am following the instructions on the paper, and pasting this file into my directory and pressing enter before I try and load however I still get the error message above.

https://static-content.springer.com/esm/art%3A10.1186%2F1471-2148-7-60/MediaObjects/12862_2006_

[2022-05-08 00:41] pzinn commented on #2486
I'll intervene since this is web app-related. you saved the file fitness.m2
under the wrong name. try again now.

On Sun, 8 May 2022 at 10:36, ThomasXielt ***@***.***> wrote:

[2022-05-08 00:48] ThomasXielt commented on #2486
Thank y'all so much for your thorough and prompt replies! I am very new to coding and this is was very important to me so I really appreciate y'all's help!

[2022-05-08 09:48] d-torrance commented on #2408
This was fixed in #2415

[2022-05-08 09:48] #2408 closed

[2022-05-09 01:19] pzinn opened #2490 "coefficients in iterated rings"
This is not really a bug (and I understand why it happens -- kind of...), but I still find it disturbing and unpleasant:
[code]

[2022-05-09 01:24] mikestillman commented on #2490
This is definitely a bug!  I'm not sure yet how to handle it.  Perhaps if Variables or Monomials is given, their support should be variables in the outer polynomial ring, and an error could be given in that case?  Flattening the ring implicitly is probably not a good idea.

[2022-05-09 01:35] pzinn commented on #2490
Flattening is indeed not good; in fact the example in the help makes it clear how it's supposed to work with iterated rings.
Even if we stick to the current logic, then
- either it should throw an error, complaining that x is not a monomial of S
- or if it insists on viewing x as a monomial of S, namely the constant monomial, then it should normalize the monomial (get rid of its constant in front,

[2022-05-09 23:18] #2484 closed

[2022-05-10 16:44] #2374 closed

[2022-05-10 22:43] ThomasXielt commented on #2486
Hello, when using FitnessShape sometimes I am met with

"fitness.m2:40:8:(3):[2]: error: expected all genotypes to have the same length
fitness.m2:82:11:(3):[1]: --back trace--"

Is this because there is a certain way of listing genotypes in binary, as all of my genotypes are the same length? I have tried this even with only 3 digit long genotypes to ensure they are all the same length yet I still

[2022-05-10 23:00] DanGrayson commented on #2486
You should be able to debug that with the Macaulay2 debugger.  Set "debuggingMode" to "true", and read up on the debugger at https://faculty.math.illinois.edu/Macaulay2/doc/Macaulay2-1.19.1/share/doc/Macaulay2/Macaulay2Doc/html/_the_spdebugger.html .

That software is very old, so it might need some attention.

[2022-05-10 23:02] ThomasXielt commented on #2486
Okay, thank you for your help!

[2022-05-10 23:50] DanGrayson commented on #2486
Let us know if you have any trouble with that.

[2022-05-11 01:04] mikestillman commented on #1856
Fixed in PR #2440

[2022-05-11 01:04] #1856 closed

[2022-05-11 01:06] mikestillman commented on #638
Fixed in PR #2440.

[2022-05-11 01:06] #638 closed

[2022-05-11 01:07] mikestillman commented on #2346
Fixed in PR #2480.

[2022-05-11 01:07] #2346 closed

[2022-05-11 01:08] mikestillman commented on #2215
Fixed in PR #2480.

[2022-05-11 01:08] #2215 closed

[2022-05-11 01:12] mikestillman commented on #2178
Fixed in PR #2480.

[2022-05-11 01:12] #2178 closed

[2022-05-11 01:13] mikestillman commented on #1199
Fixed in PR #2480.

[2022-05-11 01:13] #1199 closed

[2022-05-11 01:14] mikestillman commented on #595
Fixed in PR #2493.

[2022-05-11 01:14] #595 closed

[2022-05-11 01:16] mikestillman commented on #2249
Fixed in PR #2493.  Division was just returning the original element.  It now implements division, when the element is in the coeff ring, and that ring allows division.

[2022-05-11 01:16] #2249 closed

[2022-05-11 01:18] mikestillman commented on #978
Fixed in PR #2493.  Finally!  Sorry for not fixing this earlier.  I had to change the random number generation function for Galois fields, as the one that was being used seemed to reset back to its original state each time the same ring was created.

[2022-05-11 01:18] #978 closed

[2022-05-11 01:22] mikestillman commented on #1851
I missed this one, apparently.  I'll work on fixing it.  Sorry for the late response on it!

[2022-05-11 01:25] mikestillman commented on #1851
@DanGrayson This one is easy to fix, I think.  Should I fix it for 1.20?  Or have you already started release builds...?

[2022-05-11 01:33] DanGrayson commented on #1851
Sure, I can wait a little while.

[2022-05-11 01:53] DanGrayson commented on #2486
Make sure none of the lines in your file start with spaces, and that all the first words from the lines have the same length.

[2022-05-11 01:57] mikestillman commented on #842
This appears to have been fixed recently (I think by me even...).

The line `solve(A,b)` returns null, in the case that there is no solution.

[2022-05-11 01:57] #842 closed

[2022-05-11 02:03] pzinn commented on #842
not to brag but... #2457

[2022-05-11 02:06] mikestillman commented on #842
@pzinn Sorry!

[2022-05-11 02:12] mikestillman commented on #606
@DanGrayson, @ggsmith  Is this still a problem?  I can't reproduce the error.

[2022-05-11 02:25] DanGrayson commented on #606
I'm not sure what the original issue was, but the value of C++C is no longer cached inside of C -- not in C and not in C.cache.  That doesn't qualify as a bug.

[2022-05-11 02:27] DanGrayson commented on #606
The caching ended in version 1.17.

[2022-05-11 04:46] pzinn opened #2496 "0 / 0"
this is weird:
[code]

[2022-05-11 12:13] mikestillman commented on #2496
aarggh!  @DanGrayson I need to fix this one too this morning...

[2022-05-11 12:15] mikestillman commented on #2496
I was sure I had handled all divide by zero issues that were left...  I guess not...!  thanks for catching this @pzinn !

[2022-05-11 12:17] pzinn commented on #2496
Sorry :-P

[2022-05-11 15:42] ThomasXielt commented on #2486
Thank you, I am now able to map the Markov basis. However, I would like to analyze the influence of each individual mutation in terms of their strength in changing fitness, which function/package would you recommend? For example, after plugging in values such as 001 = .38, 010 = .24, etc. the function/package would relate to me that a mutation on the second point, 010, has a consistently negative

[2022-05-11 15:56] DanGrayson commented on #2486
I don't know.  Maybe someone else can contribute something at this point.  If not, you could write your own code for that.

[2022-05-11 18:37] antonleykin opened #2499 "bertiniRefineSols returns refinement failure"
See the example in the doc:
https://faculty.math.illinois.edu/Macaulay2/doc/Macaulay2-1.19/share/doc/Macaulay2/Bertini/html/_bertini__Refine__Sols.html
@JoseMath

[2022-05-11 19:53] DanGrayson commented on #2499
Is that what "RF" signifies?

[2022-05-11 19:56] antonleykin commented on #2499
refinement failure

[2022-05-13 13:02] slel commented on #2170
Fixed by #2171, please close.

[2022-05-13 13:03] #2170 closed

[2022-05-15 02:48] pzinn opened #2503 "Substitution / promotion issues"
There are still a few issues with substitution/promotion that I want to take care of. Here's one (well, two, actually):
[code]
I might add some more in this thread.

[2022-05-15 04:02] pzinn commented on #2503
here's another one:
[code]

[2022-05-16 18:49] d-torrance commented on #2329
Closing, as this is no longer an issue.  For the Debian package, all example results are generated during the amd64 build, dumped into an ASCII file using `gdbm_dump`, and shipped with the architecture-independent `macaulay2-common` package.  When the architecture-dependent `macaulay2` package is installed, the database files are then loaded using `gdbm_load`.  This is kind of ugly, but it fixes t

[2022-05-16 18:49] #2329 closed

[2022-05-16 18:51] d-torrance commented on #2318
Closing - see https://github.com/Macaulay2/M2/issues/2329#issuecomment-1128018084

[2022-05-16 18:51] #2318 closed

[2022-05-16 18:51] d-torrance commented on #2317
Closing - see https://github.com/Macaulay2/M2/issues/2329#issuecomment-1128018084

[2022-05-16 18:51] #2317 closed

[2022-05-16 18:52] d-torrance commented on #2206
Closing - see https://github.com/Macaulay2/M2/issues/2329#issuecomment-1128018084

[2022-05-16 18:52] #2206 closed

[2022-05-16 18:53] d-torrance commented on #2203
Closing - see https://github.com/Macaulay2/M2/issues/2329#issuecomment-1128018084

[2022-05-16 18:53] #2203 closed

[2022-05-16 18:53] d-torrance commented on #2202
Closing - see https://github.com/Macaulay2/M2/issues/2329#issuecomment-1128018084

[2022-05-16 18:53] #2202 closed

[2022-05-16 18:54] d-torrance commented on #2136
Closing - see https://github.com/Macaulay2/M2/issues/2329#issuecomment-1128018084

[2022-05-16 18:54] #2136 closed

[2022-05-16 18:55] d-torrance commented on #1992
Closing - I think this was very likely a duplicate of #1742.

[2022-05-16 18:55] #1992 closed

[2022-05-16 18:56] d-torrance commented on #1967
Closing - see https://github.com/Macaulay2/M2/issues/2329#issuecomment-1128018084

[2022-05-16 18:56] #1967 closed

[2022-05-16 18:56] d-torrance commented on #1886
Closing - see https://github.com/Macaulay2/M2/issues/2329#issuecomment-1128018084

[2022-05-16 18:56] #1886 closed

[2022-05-16 18:57] #1884 closed

[2022-05-16 18:58] d-torrance commented on #1676
Closing - see https://github.com/Macaulay2/M2/issues/2329#issuecomment-1128018084

[2022-05-16 18:58] #1676 closed

[2022-05-16 19:01] d-torrance commented on #2182
Closing - see https://github.com/Macaulay2/M2/issues/2329#issuecomment-1128018084

[2022-05-16 19:06] d-torrance commented on #1747
This is just a ulimit issue on slower machines.  If we customize `argumentMode`  to remove the `SetUlimit` bit (e.g., by using #2500), the tests won't be killed if they run a little long.  Closing.

[2022-05-16 19:06] #1747 closed

[2022-05-16 19:06] d-torrance commented on #1697
Closing - see https://github.com/Macaulay2/M2/issues/1747#issuecomment-1128032661.

[2022-05-16 19:06] #1697 closed

[2022-05-17 01:56] DanGrayson commented on #1663
Thanks for closing so many issues!

[2022-05-17 01:59] mahrud commented on #2445
gc built with cmake or distributed with brew is always compiled with `--enable-large-config`, so this is already the default.

[2022-05-17 17:05] DanGrayson opened #2505 "compiling csdp under clang on Mac OS"
It uses the "inline" keyword, which clang 13.1.6 doesn't accept.  But it would accept it if we would use the command line option "-fgnu-keywords".  So we should test whether clang is in use and, if so, whether it accepts that option.  Then make the csdp makefile use the option.

[2022-05-17 17:10] DanGrayson opened #2506 "cddplus"
I wonder whether we still need to build and include cddplus.  Is it being used anywhere by anybody for anything?

@ggsmith -- you wanted this eventually -- do you still?

[2022-05-17 17:16] ggsmith commented on #2506
I am not using cddplus in any package I maintain.  Furthermore, no longer expect to want the cddplus to be included at any point in the future.

At some point in the past, I thought FourierMotzkin might interface with this software, but this perspective has changed (largely because of improvements in Normalize).

[2022-05-17 17:16] DanGrayson opened #2507 "-lgfortran"
If we don't build lapack ourselves, then there is no reason to link with libgfortran.

[2022-05-18 17:11] jkyang92 commented on #1903
I can reliably reproduce this crash (on amd64) by running the following code

[code]

This has the effect of running the gc as often as possible while running the test, so that issues are are detected faster
The stack trace is a bit random though. Though the common factor seems to be a segfault in accessing a gmp value.

[2022-05-19 02:27] pzinn opened #2509 "Crash when lifting from RR to ZZ"
one-line crash:
[code]

[2022-05-19 02:38] mikestillman commented on #2509
I'm not sure.  Let me look at it.  We want to be able to lift from real numbers that are close to integer, to ZZ, I think...

[2022-05-20 19:48] jchen419 opened #2511 "Bug in reducedRowEchelonForm"
The method `reducedRowEchelonForm` does not put identically zero rows at the bottom (and thus is technically not even in row echelon form, cf. [here](https://en.wikipedia.org/wiki/Row_echelon_form)):
[code]
Also, it would be nice for `reducedRowEchelonForm` to support more types of rings, e.g. `cyclotomicField`s from the `Cyclotomic` package, or more generally any output of `toField`.

[2022-05-21 23:58] mahrud commented on #2368
What is a homogeneous ring map? The [documentation](https://faculty.math.illinois.edu/Macaulay2/doc/Macaulay2/share/doc/Macaulay2/Macaulay2Doc/html/_is__Homogeneous.html) doesn't say.

[2022-05-22 04:38] mahrud opened #2512 "sortColumns for matrices of numbers"
This seems unexpected and potentially inconsistent with the documentation:
[code]

[2022-05-22 15:34] DanGrayson commented on #2512
Maybe the documentation should stress that the ordering examines only degrees and monomials, and does nothing special for rings, such as ZZ, that happen to be ordered rings.

[2022-05-23 22:10] jamesjer opened #2513 "Invalid vector access when building CotangentSchubert examples"
I did a test build of Macaulay 1.20 for Fedora.  The build failed here:
[code]

That assertion is active because Fedora builds with `-D_GLIBCXX_ASSERTIONS`.  The assertion failure means that an invalid vector element was accessed.  GDB says:
[code]
In frame 7, we have:
[code]

Looking inside `M` shows that `degree_of_var_` is a vector of length and capacity 1, containing a single NULL.  This code

[2022-05-24 15:25] DanGrayson commented on #2513
This is an excellent bug report.

@mikestillman

[2022-05-24 16:34] mikestillman commented on #2513
I agree, nice bug report!

[2022-06-01 03:13] goelKriti opened #2516 "Warnings because of optional inputs"
Hello,
I am getting the following warnings while installing the package
![Screenshot (154)](https://user-images.githubusercontent.com/65620879/171319138-2aae3ef1-1003-43ab-a455-78c45ef15e2b.png)
They seem to appear because VariableBaseName is one of the optional inputs in a function of the package. Also, the function tensor appearing in the warning signs is just one of the functions which also hav

[2022-06-01 13:29] DanGrayson commented on #2516
Yes, there doesn't seem to be any reason to display all the other documentation nodes for functions accepting the same optional argument name on this node.  Thanks!  I'll take care of it.

[2022-06-06 18:22] DanGrayson opened #2522 "font lock string face"
I use the code
[code]
to try to highlight strings delimited by /// ... ///, but the regular expression is so complicated (with backtracking) that it can sometimes cause a delay up to 45 seconds when using C-s to search through a file, as @mikestillman has observed.

We could simplify the regular expression drastically to "///.*///", and not worry about getting every single case correct.

[2022-06-06 18:42] DanGrayson commented on #2516
@mahrud -- I don't understand your code below.  This function doesn't seem to use the second argument, `S'`.  How would you fix things so the "Functions with optional argument named ..." section is displayed only when the symbol itself is documented?
[code]

[2022-06-06 20:01] d-torrance commented on #2522
I was working on some code a few months ago that might help out with this.  Check out https://github.com/Macaulay2/M2-emacs/pull/31.

[2022-06-06 20:20] mahrud commented on #2522
You could use "[lookarounds](https://www.regular-expressions.info/lookaround.html)" instead.

[2022-06-06 20:36] DanGrayson commented on #2522
Would (could) that be ready soon?

[2022-06-06 21:01] d-torrance commented on #2522
The part that highlights `///`-delimited strings is ready, with the big caveat that it currently breaks syntax highlighting inside `doc` and `TEST` strings.  That's why I left it as a draft -- I'm not sure if that's a dealbreaker or not.

[2022-06-06 22:54] DanGrayson commented on #2522
The desire to highlight the contents of such big strings is perhaps a good argument against doing any highlighting of
those big strings as strings.

[2022-06-06 23:49] d-torrance commented on #2522
That makes sense!  I removed the `///`-related commits from [M2-emacs#31.](https://github.com/Macaulay2/M2-emacs/pull/31).

[2022-06-16 00:01] byeongsuyu opened #2529 "Compile Error of M2 - 1.20 on MacOS 10.15 due to givaro_bool_constant"
Hello. I try to install Macaulay2 via Homebrew, but I have a compile error as below. My current MacAir has Catalina 10.15.7. I hope to resolve this issue.

[code]

[2022-06-16 06:21] mahrud commented on #2529
This is an issue with Macaulay2 itself, not the homebrew build, so I transferred the issue here.

[2022-06-16 11:48] jkyang92 commented on #2529
This can probably be fixed by moving `#include "aring-zzp-ffpack.hpp"` to the very end of the includes in `e/interface/aring.cpp`. The log isn't quite long enough for me to find the actual change that caused the issue, but I'd actually suspect that the exception work in `e/exception.hpp` is including new files, causing this to show up again.

I have no good way of testing this though, since I beli

[2022-06-16 11:55] mikestillman commented on #2529
I have an intel mac that is still running 11.6.5, I'll try it there.  I know this isn't 10.15.  If I can't reproduce it, we will need the help of someone who still has 10.15...

[2022-06-16 13:12] mikestillman commented on #2529
M2 doesn't hit this build error on MacOS 11.6.5.  (Although, I am having some tbb linking issue which I need to track down, it seems)

I might have another older mac that I can test this on.

But maybe we should just make the change that @jkyang92 suggests, and have @byeongsuyu try it again?

[2022-06-16 14:31] byeongsuyu commented on #2529
I’d like to build M2 again if the change of code made.

[2022-06-16 14:52] jkyang92 commented on #2529
I thought about this some more, and including mutex (or maybe ratio?) before defining bool_constant in aring-zzp-ffpack.h is probably more reliable.

[2022-06-16 15:12] mikestillman commented on #2529
@jkyang92 Could you make a pull request to this effect, and we can try it?

[2022-06-18 04:05] mahrud commented on #2529
@byeongsuyu try installing via brew now.

[2022-06-18 12:54] byeongsuyu commented on #2529
This update fixes my issue. Thank you very much!

`==> Installing macaulay2 from macaulay2/tap
==> Installing dependencies for macaulay2/tap/macaulay2: node and gcc
==> Installing macaulay2/tap/macaulay2 dependency: node
==> Pouring node--18.4.0.catalina.bottle.tar.gz
🍺  /usr/local/Cellar/node/18.4.0: 1,926 files, 48.9MB
==> Installing macaulay2/tap/macaulay2 dependency: gcc
==> Pouring gcc--11.3.

[2022-06-18 12:54] #2529 closed

[2022-06-18 13:00] DanGrayson commented on #2529
Thanks, Jay!

[2022-06-21 16:42] DanGrayson opened #2532 "load files with slashes in the name"
It is probably better to look for files to be loaded, which have a slash in the name, only in the current directory of the file being interpreted.  This will make development of packages easier, without recompiling from scratch.

[2022-06-27 07:27] ginggs opened #2533 "timing-quotient test often fails on amd64"
Similar to #1804, the timing-quotient test often fails in [Ubuntu's amd64 autopkgtests](https://autopkgtest.ubuntu.com/packages/macaulay2/kinetic/amd64).  I don't see this on the other architectures.  Ubuntu's autopkgtests are run on VMs with 1 vCPU and 1592MiB RAM by default.

Below are results of recent failures:
[code]
I'm happy to run tests to help find a value that works.

[2022-06-27 15:40] Corrado-possieri opened #2534 "Texmacs does not display outcome"
I used to run Macaulay2 within texmacs, but it does not work anymore.
In particular, texmacs is not able to display the output of Macaulay2 commands.
If a command ends with ";" it is correctly executed, but if one wants to see the output it is stuck on busy.
I am running both Macaulay and TexMacs on an M1 MacbookPro.

[2022-06-28 13:56] DanGrayson commented on #2513
Jay, are you willing to make a pull request for your suggested change?

[2022-07-01 12:42] DanGrayson commented on #2534
I get the same behavior on my macbook:

<img width="798" alt="Screen Shot 2022-07-01 at 8 41 43 AM" src="https://user-images.githubusercontent.com/700228/176896660-a5f66909-592f-4997-88e3-1cd98df7723a.png">

I'll ask Joris.

[2022-07-01 12:51] DanGrayson commented on #2534
Here's what the raw output looks like:

<img width="953" alt="Screen Shot 2022-07-01 at 8 51 17 AM" src="https://user-images.githubusercontent.com/700228/176898148-65e8c555-7d1f-4f16-af14-5d347e70d53d.png">

[2022-07-03 00:42] jkyang92 opened #2538 "VersalDeformation test 6 failures on ubuntu on github"
I've had the `VersalDeformation` test 6 fail with "Alarm clock" on two completely unrelated pull requests

https://github.com/Macaulay2/M2/runs/7047611893?check_suite_focus=true#step:12:4370

https://github.com/Macaulay2/M2/runs/7143745455?check_suite_focus=true#step:12:4370

I can't reproduce this is on Arch. Is "Alarm clock" a symptom of a test taking too long?

[2022-07-03 01:27] d-torrance commented on #2538
I've seen this one before, too:  https://github.com/Macaulay2/M2/issues/1392#issuecomment-739111748

I believe so.  I stopped using the default `ulimit`'s for the Debian/Ubuntu package a while back and haven't seen any of these sorts of errors since.

[2022-07-04 15:16] DanGrayson commented on #2538
I don't see what ulimits have to do with alarms.  Someone's code must be calling the M2 function "alarm".  I'll try to figure it out.

[2022-07-04 23:58] DanGrayson commented on #2538
I'm trying a fix here:

[code]

[2022-07-05 12:39] DanGrayson commented on #2538
Well, that experiment didn't work, see https://github.com/Macaulay2/M2/actions/runs/2612978297

[2022-07-05 12:41] DanGrayson commented on #2538
It seems to occur just when building with cmake, not with autotools.  That seems odd.

[2022-07-05 12:47] #2315 closed

[2022-07-05 12:47] #2533 closed

[2022-07-11 18:32] mikestillman opened #2542 "bug in hook for (quotient, Matrix, Matrix) in local rings"
@mahrud, @ggsmith: the following example is a boiled down version of a bug found by Hugh Geller, Tony Se, and Ela Celikbas.  We suspect that the hook is somehow introducing permutations of the columns, but we haven't investigated that.
[code]

[2022-07-11 20:23] mahrud commented on #2542
It's definitely permuting the columns, because the columns of `syz(F | G)` seem to be sorted incorrectly for some reason. I recall asking about this on google groups, but there wasn't a solution, so instead I resorted to kludge ... which included a bug because I didn't reverse the permutation. Should be fixed by #2543.

If you happen to have time to take a fresh look at this, the relevant email is

[2022-07-11 21:23] mahrud commented on #2512
Why not fix it? This doesn't seem intuitive:
[code]

[2022-07-12 14:14] jkyang92 commented on #2538
I managed to reproduce this on Arch. Compiling with clang, if I run `./M2 --int` and call `check(6, "VersalDeformations")` I get "Alarm clock". Without `--int` the error doesn't happen. With gcc the error doesn't happen. Importantly, ./M2 --check 3 runs its tests with the `--int` flag

On a not completely related note `check(6, "VersalDeformations")` with clang seems much slower (4x) for me than w

[2022-07-12 16:03] DanGrayson commented on #2538
That makes sense, because `--int` tells M2 not to handle any interrupts!

[2022-07-12 16:06] DanGrayson commented on #2538
... and the way cmake runs tests is to use the `--check 3` option.

[2022-07-12 18:25] DanGrayson commented on #2538
Okay, see commit 7679add0c5de1f696f4f1d34b7c8d21a7da901f6

[2022-07-13 11:17] DanGrayson commented on #2538
It seems to have worked, see https://github.com/Macaulay2/M2/actions/runs/2658584495 . Thanks, Jay!

[2022-07-13 11:17] #2538 closed

[2022-07-20 23:33] mahrud commented on #2148
@LukeOeding could you try running `uninstallAllPackages()`? I wonder if there's an old package that needs to be reinstalled.

If that doesn't work, it might help to look at the last few lines of `M2 --notify` before the error. It should say something like `-- loading X` and then the error.

[2022-07-20 23:51] LukeOeding commented on #2148
Here are the last few lines after starting with `M2 --notify`, and after `uninstallAllPackages()`

 -- loaded /usr/local/share/Macaulay2/GroebnerWalk.m2
 -- loading Hadamard.m2
/usr/local/share/Macaulay2/Core/matrix.m2:182:16:(1):[19]: error: maps not composable
/usr/local/share/Macaulay2/Core/matrix.m2:182:16:(1):[19]: --entering debugger (type help to see debugger commands)
/usr/local/share/Maca

[2022-07-20 23:58] LukeOeding commented on #2148
After 'M2 --stop' I get the following:
[code]

[2022-07-21 05:30] mahrud commented on #2148
Oh, this is helpful:
[code]
Because this is not the contents of the Hadamard package! Do you happen to have a file named `hadamard.m2` or `Hadamard.m2` somewhere on your path? You can type `path` to see the list of directories M2 searches for files.

I suspect renaming this file should fix your problem, though it might also be better if Macaulay2 loaded packages from the right directory, not anywh

[2022-07-21 17:56] LukeOeding commented on #2148
OK, this worked. It's really strange that my personal file "hadamard.m2" was read when launching M2 within Aquamacs.

maybe my path variable is messed up?
`i171 : path

o171 = {./, ../../../Library/Application Support/Macaulay2/code/, ../../../Library/Application Support/Macaulay2/local/share/Macaulay2/, /usr/local/share/Macaulay2/}
`
the file in question was in a completely different place `/User

[2022-07-21 18:40] DanGrayson commented on #2148
Is it the case that the current directory is not that directory?

What does "notify=true" indicate about where the file is loaded from?

[2022-07-21 19:13] LukeOeding commented on #2148
after I changed `/Users/oeding/Dropbox/COMPUTATIONS/Macaulay2\ Worksheets/
/hadamard.m2' to  `/Users/oeding/Dropbox/COMPUTATIONS/Macaulay2\ Worksheets/
/my_hadamard.m2'
the relevant section after `M2 --notify' is this:

'
-- loading GroebnerWalk.m2
 -- loaded /usr/local/share/Macaulay2/GroebnerWalk.m2
 -- loading Hadamard.m2
 -- loaded /usr/local/share/Macaulay2/Hadamard.m2
 -- loading HigherCIOpe

[2022-07-21 19:21] LukeOeding commented on #2148
I think I understand the problem now. I'm not allowed to have a filename in the directory from which I launch M2 that conflicts with a package that already exists, otherwise M2 reads the wrong file. Going forward I guess I just have to do better at naming files...

[2022-07-21 19:21] #2148 closed

[2022-07-25 01:55] timduff35 opened #2545 "(evaluate, GateSystem, Matrix) at polynomials with complex coefficients fails"
[code]
throws an error
[code]
@antonleykin, didn't this used to work? By the way, I don't see any error if CC is replaced by RR, or QQ.

[2022-07-25 05:44] antonleykin commented on #2545
It looks like something is wrong with promotion, which is unrelated to the packages.

`R = CC[x]; matrix 0 | vars R` produces your error, while (as you point out) `R = RR[x]; matrix 0 | vars R` does not.

[2022-07-25 13:32] DanGrayson commented on #2545
Due to this, no doubt:
[code]

[2022-07-25 13:36] DanGrayson commented on #2545
RR should not be in this list, it should be RR_53 instead:

[code]

[2022-07-25 13:39] DanGrayson commented on #2545
Same here:
[code]

[2022-07-25 13:42] DanGrayson commented on #2545
fixed here: commit 7dcb1035ff984078addf6e7da8d09f436cfe19e4

[2022-07-25 13:42] #2545 closed

[2022-07-26 15:24] mahrud commented on #1783
@DanGrayson @mikestillman you may have seen the following tip from GitHub:
![image](https://user-images.githubusercontent.com/3147718/181045905-c61d09bb-6d8b-40a4-9891-d9e3e58f06c4.png)

[2022-08-04 12:29] mikestillman opened #2550 "symmetricPower of a free module is very slow"
The code for symmetricPower of a free module is computing too much, making it very slow.  There should be separate code in the case that the module is a free module.

[code]

[2022-08-04 13:18] DanGrayson commented on #2550
Probably because it's computing the symmetric algebra and then taking the degree d part:
[code]

[2022-08-08 18:48] jamesjer commented on #2513
I should have mentioned that https://github.com/Macaulay2/M2/pull/2536 does in fact lead to a good build.  Thank you, @jkyang92 .

[2022-08-10 00:04] David-GW opened #2552 "Break Sometimes Breaks Multiple Loops, Depending on Subsequent Code"
The code
[code]
should print
[code]
but only prints
[code]
which suggests that `break` is breaking both loops.

However, uncommenting `print "end";` prints
[code]
so adding code after the broken loop seems to affect the behaviour.

This occurs on both my local installation of 1.20 and the web interface.

[2022-08-10 06:48] mahrud commented on #2552
I think this has to do with your use of `{ .. }` rather than `( .. )`. For instance, this code does what you expected:
[code]

However, I'm not exactly sure why uncommenting the second print statement changes the output, or where this behavior is documented. I suspect it's related to how M2 parses `,` and `;` differently inside `{ .. }` and `( .. )`. For instance:
[code]
In particular, I can't exp

[2022-08-12 14:07] DanGrayson commented on #2552
Good catch!

Fixed in commit fb1affc44fff0a0cebf8106a4372438cff62335a

[2022-08-12 14:07] #2552 closed

[2022-08-12 16:24] mahrud commented on #2552
Could you add a few tests that cover the expected behavior along with the commit?

[2022-08-12 18:11] DanGrayson commented on #2552
Okay, will do.

[2022-08-13 11:34] DanGrayson commented on #2552
Mahrud, I added a test in commit 34085616ad092f3b633b6906ed1668a9f4e775b0

[2022-08-15 16:34] mahrud opened #2561 "O(1) list and sequence operations"
Here is an example of a simple operation involving lists and sequences which should really be an O(1) operation. There are many others like it.
[code]

Related: #1608, #1904, #1978

[2022-08-15 16:56] mahrud opened #2562 "Memory leak in creating a sequence"
I believe the following line as a memory leak:
[code]
At least it seems like after several times running `f()`, M2 grinds to a halt.

I should say, even running:
[code]
several times seems to do the same, so maybe this is something else? (I'm assuming `clearAll` and `collectGarbage` do _something_, right?)

cc: @jkyang92

[2022-08-15 18:30] mahrud opened #2563 "Bug in pruning map over ZZ with torsion"
Still haven't looked into the root cause, but I think this is a bug:
[code]
The matrices are not the same over the integers, but as morphisms of Z-modules they are identical. In particular, I think one would expect `f == map(target f, source f, matrix f)` to always be true.

The closest I got to directly defining such matrices is something like this, which returns a non-sense error:
[code]

[2022-08-17 00:17] mahrud commented on #1312
I'm pretty sure this is not intentional, right?
[code]

[2022-08-17 14:49] DanGrayson commented on #1312
The first one looks like a bug:
[code]

[2022-08-17 20:09] mahrud opened #2568 "Spurious layers when debugging"
When debugging an error in a method call, particular if the method had options, I often have to repeatedly enter `end` several times, going through the same exact lines that are unrelated to the error:
[code]
Admittedly the addition of layers above, particularly `foldL` is my own doing, and it was worth the speed improvement, but the plan has always been to eventually move it to the interpreter.

[2022-08-17 20:28] mahrud opened #2569 "locate and code for functions involving options, caching, or @@ are useless"
Say I want to see where `net Variety` is defined, so I use `locate`:
[code]
But that doesn't make sense, so instead I look up its code:
[code]
But this is useless: nowhere in this output does it say that `net Variety` is defined on line 24 of `varieties.m2`, or even what `net` and `expression` do or even where they are defined -- it just says the are also in `classes.m2`! Even the most useful part

[2022-08-18 04:03] mahrud commented on #2569
Oh my goodness this is the worst:
[code]

I have no idea what prompted all of this! Here is the _actual_ code in `ofcm.m2`
[code]
Nowhere in _all_ of that text is `ofcm.m2` mentioned.

[2022-08-18 04:54] mahrud commented on #2568
Similarly, an error like this:
[code]

[2022-08-18 10:31] DanGrayson commented on #2569
The point is that in the line `options PolynomialRing := options @@ monoid`, the code to the right of the `:=` is executed, not saved for later execution.  If you'd like it to be clearer, just change it to `options PolynomialRing := R -> options monoid R`.

[2022-08-18 11:31] DanGrayson commented on #2562
The problem is that even in a line with a semicolon at the end, the value of the expression is saved.  Compare:
[code]

[2022-08-18 11:39] DanGrayson commented on #2563
This is a bug.  Perhaps `inverse` is not reducing the matrix it finds modulo the relations in the target.

[2022-08-18 13:52] mahrud commented on #2569
That has nothing to do with `locate` not showing _where_ `(options, Polynomial)` is set to the value of whatever the right hand side evaluates to, or `code` showing all that extra stuff.

[2022-08-18 14:00] DanGrayson commented on #2569
No, `locate` operates on code stored in function bodies -- that's where location information is stored.

[2022-08-18 14:00] mahrud commented on #2562
The value of the output is _one object_. How can it possibly require gigabytes of memory? That doesn't explain the `scan` example either, where the value that goes in the first parameter of `scan` isn't saved in any accessible dictionaries.

[2022-08-18 14:03] mahrud commented on #2569
Okay ... sounds like you agree with what I'm claiming in this issue, then? That "locate and code for functions involving options, caching, or @@ are useless"?

[2022-08-18 14:04] mikestillman commented on #2569
Is there any easy way we can get these to work (and not be 'useless')?

[2022-08-18 14:05] mikestillman commented on #2569
Probably the file/line location of the actual method setting should be given instead of where the function is defined?

[2022-08-18 14:09] DanGrayson commented on #2562
Yes, but you said you ran it several times.  And every top level expression has an integer stored with it, to indicate what sort of thing it actually is.  And an element of ZZ is represented by a pointer to an object returned by mpir or gmp, which contains a length field, too.  And there is overhead in libgc -- it has to keep track of the locations and lengths of all allocated objects, for later f

[2022-08-18 14:12] mahrud commented on #2569
If the execution stack was somehow accessible (which is another feature request on its own), then I think the easiest way would be for `Function @@ Function` to store location of the one before the last value in the execution stack, which would be the line that _called_ `Function @@ Function`. If the location is stored in the function frame then it could be accessed later.

[2022-08-18 14:13] DanGrayson commented on #2569
Yes, I agree that you cannot find the line `options PolynomialRing := options @@ monoid` by using `locate`.  However, you could change that line to `options PolynomialRing := R -> options monoid R`.

I find it easy to use emacs' tags search function to find the line `options PolynomialRing := options @@ monoid` in the code.

[2022-08-18 14:14] mikestillman commented on #2562
@mahrud Is this kind of what you did?
[code]

This doesn't seem to leak to me (uses consistently 1.37 GB).  That said, maybe it would be nice if 1..10^7 would not expand before the loop?

[2022-08-18 14:26] mahrud commented on #2562
By several times I meant like 3 times!
[code]

[2022-08-18 14:32] mahrud commented on #2569
So you're suggesting just getting rid of `@@` all over the place? That seems like erasing the problem statement to me.

Hooks are also kind of opaque, you can't tell what's in the code from `code(length, Module)`, for instance, but if you actually want to make it useful (instead of just saying "well don't use hooks" or "use emacs") then there's a solution:
[code]

[2022-08-19 08:56] mahrud opened #2572 "try..then without else clause"
Currently this doesn't work:
[code]
I would have expected it to be treated like this:
[code]
Similar to how `if..then..else` works:
[code]

[2022-08-19 13:39] DanGrayson commented on #2569
This is just like the code `x = 2 + 2`.  If later on, you have that number 4, there is no way to use it to find out the location of the code `2 + 2` that resulted in it.

[2022-08-19 13:52] DanGrayson commented on #2572
Such syntax is not needed, for one can simply write `try ( foo ; 2 ) else null`.  Then if no error occurs in `foo`, the value will be 2.

[2022-08-19 13:58] mahrud commented on #2572
The syntax is cleaner without parentheses, so what's the harm?

[2022-08-19 14:11] DanGrayson commented on #2572
Well, if the `then` clause is not mandatory, there's no harm, but where's the gain that corresponds to all that work?  Usually, one wants the value of `foo`, unless some error occurs, so one writes something like `try foo else 3331333`.

[2022-08-19 14:21] mahrud commented on #2569
1. How is this relevant? I'm talking about method functions, not symbols.
2. You can still find where the symbol `x` was created with `locate x`.

I'm not surprised that you disagree with my improvement suggestions, but you don't need to keep insisting.

[2022-08-19 15:01] DanGrayson commented on #2569
It's relevant because both `x = 2 + 2` and `options PolynomialRing := options @@ monoid` are assignment statements.  In both of them, the right hand side is evaluated, and the value is stored in the location indicated by the left hand side.  The location of the code that computes the value is not stored in the value.

There are other ways to produce functions -- not just `f @@ g`.  How could you h

[2022-08-19 16:15] mahrud commented on #2569
Sure, there are many ways to produce functions, but the three classes of functions I'm highlighting in this issue are extremely common, so even ad hoc solutions (e.g. changing `Function @@ Function` as I suggested above) would go a long way.

But if you must have a general solution: the left hand side of `options PolynomialRing := X` also evaluates something, and that code can query the current lo

[2022-08-19 16:21] mahrud commented on #2569
I'm reading the bold part again, and it seems even less relevant. In all the cases I highlighted `locate` and `code` don't start with a function, they start with a method sequence like `(options, Polynomial)`.

[2022-08-19 16:28] mikestillman commented on #2569
It seems to me that if one has a method definition, such as
[code]
where g is a function, then code(f, Matrix) (or locate?) could give one of two locations: the location of the line `f Matrix := g`, or the location of the definition of `g`.  It seems like the former might be more useful information?

[2022-08-19 22:20] mahrud commented on #2569
I think both should be present in the output of `code`, at least.

[2022-08-20 11:48] DanGrayson commented on #2569
That might work.  But don't store it in the function, as one still wants to be able to find the location of the function itself.  Also, the same function might be installed as multiple method functions.  So the location information should be stored alongside the function in one of the types on the left hand side.

[2022-08-22 13:48] fchapoton commented on #2262
This may be because the vertex set is build using
{{{
    V := toList(set vertexSet G ** set vertexSet H);
}}}
Could someone propose another way to build the cartesian product of two `vertexSet` ?

[2022-08-22 19:35] mahrud opened #2577 "Undefined WeylAlgebra Behavior"
Does anyone know what is going on here? Looking at the source code, there are some errors about a "homogenizing variable" but I can't find it documented anywhere.
[code]
Where are 17 and 17^4 coming from?!

Looks like this was first introduced in 079f57a9b7e.

[2022-08-22 20:52] mikestillman commented on #2577
That looks like a good bug find!

[2022-08-23 17:03] DanGrayson commented on #2577
The number involved seems random:
[code]

[2022-08-24 03:45] mahrud commented on #1979
A very useful aspect of the union type idea above is to simplify the situation when you enter `methods basis` and you're hit with a whopping 43 items, when it really needs to be 8 or 12 at most if we could combine a bunch of them into `(basis, Degree, Module)` where `Degree` can be any of `ZZ, List, InfiniteNumber`. The same is true about declaring all those methods.

[2022-08-24 05:43] mahrud opened #2580 "DegreeLift doesn't work for maps of multigraded rings"
It seems like the DegreeLift option for ring maps between multigraded rings doesn't preserve homogeneity, which I presume is the main point of it.
[code]

Related: #2368

[2022-08-24 07:13] mahrud opened #2581 "List ^ ZZ for permutations"
Here's something that might be nice for combinatorialists working with permutations:
[code]
Here's a simple implementation:
[code]
What's nice is that if the entries are not integers `List _ List` handles the errors correctly.

[2022-08-24 13:18] mikestillman opened #2582 "unhelpful warning message"
I have a package that I am writing, and I get the following behavior when loading it.  This package loads a number of other packages too.
[code]
This appears to be a bug?  I try `debug 2671` and get nothing useful either.
I'll look into this to try to boil the problem down.

[2022-08-24 17:12] mahrud commented on #2582
I kept getting a similar error in a different context as well, and calling `debug` didn't seem to do anything.

[2022-08-24 18:02] DanGrayson commented on #2581
Good idea, but introduce a new type of list called "Permutation" to implement these things for.

[2022-08-25 12:54] DanGrayson commented on #2582
Here is a minimal example:
[code]

The warning message is intentional.

[2022-08-25 12:54] DanGrayson commented on #2582
Maybe it should be made clearer, but calling debug with that number should throw you into the debugger when you run the code again.

[2022-08-25 13:02] DanGrayson commented on #2580
I think what's going on here is that the computation of `inverse f1` does not get the degree map right.  It should be the inverse of the degree map of f1.

[2022-08-25 13:07] mikestillman commented on #2582
After I got that error message, I tried what you suggest (call debug with that number), and I now forgot what error message I then got, but it wasn’t useful and didn’t point to the location of the redefinition (or definition).

[2022-08-25 14:58] DanGrayson commented on #2582
Maybe try restarting M2 and doing everything the same, except insert "--debug 2671" on the command line.

[2022-08-27 10:14] mahrud commented on #2577
It seems like there are many other functionality related to Weyl algebra and Skew commuting rings that has fallen through the cracks:
[code]

[2022-08-27 10:58] mahrud commented on #1774
Same with this: (which is a strange error, by the way)
[code]
Also, some languages have a more syntax like this:
[code]

[2022-08-29 10:15] maruthaman opened #2585 "Debian M2 crash"
I am unable to run macaulay2 in debian. It gives the following error:
/usr/bin/M2-binary: symbol lookup error: /usr/bin/M2-binary: undefined symbol: GC_abort_on_oom

I tried the 1.17 that comes with debian stable. I also tried the 1.20 comes with testing. Both versions gave the same error message.

I tried to compile. But getting an error

***
if [ -e /root/M2/M2/usr-dist/common/share/info/Style.i

[2022-08-29 11:20] DanGrayson commented on #2585
Doug Torrance might be able to say something about this.  @d-torrance

I've just upgraded my Debian 11 system, and M2 1.20 ( as provided at https://faculty.math.illinois.edu/Macaulay2/Downloads/GNU-Linux/Debian/index.html ) still works.

For compiling youself, you may wish to bypass those errors in package examples by adding `IgnoreExampleErrors=true` to the `make` command line ( if you're buildin

[2022-08-29 11:55] d-torrance commented on #2585
How much memory does your system have?  I believe the "oom" `GC_abort_on_oom` message means "out of memory".  That likely also explains the `SpecialFanoFourfolds` example failures -- I've seen those errors plenty of times on lower memory systems.

I haven't seen any such issues with the Macaulay2 packages in the Debian archives.  Debian runs continuous integration tests on all of its packages regu

[2022-08-29 20:52] mahrud commented on #2580
The `f2` one is also a bug. The inverse of the degree map is explicitly given, but it is still ignored.

[2022-08-30 02:35] maruthaman commented on #2585
My system has 192GB ram 24core Xeon processor. I dont think this is a problem with memory. I was running M2 for a long time in this machine till I updated it to bullseye.

[2022-08-30 10:55] maruthaman commented on #2585
This worked for the compilation. M2 is working with this compiled version.
Thank you very much.

narayanan

[2022-08-31 05:38] mahrud opened #2586 "Serve engine docs (doxygen) on macaulay2.com"
The gh-pages branch added after #2553 has added more than 200MB to the size of the repository, and every week nearly every file in the branch is updated, so I think it should be removed from this repository.

Having the engine documentation online sounds useful, but there's no need for tracking the changes across thousands of auto-generated html files via git, so I think it should be moved out of

[2022-08-31 09:30] d-torrance commented on #2586
Yikes -- I didn't realize how big that branch was!  I've opened #2588 to remove the workflow.  Someone with the proper permissions will need to delete the branch itself.

[2022-09-02 10:32] d-torrance opened #2590 "PythonObject class and inheritance"
Something strange is happening when subclassing `PythonObject`:

[code]
This error is coming from the unexported function `pythonObjectStr` (which wraps around the Python C API's `PyObject_Str` for getting string representations of Python objects):

[code]
So at first, it appears like `x` must be some other member of the `Expr` union other than `pythonObjectCell`:
https://github.com/Macaulay2/M2/b

[2022-09-02 13:04] mahrud commented on #2569
Related:
[code]

[2022-09-02 13:45] mahrud opened #2591 "Broken hash functions"
The function `hash` seems to be broken for certain classes of objects:
1. MutableMatrix #997
2. MethodFunctionWithOptions
[code]
3. Composed functions
[code]
4. This random collection of `MethodFunctionSingle`s:
[code]
5. Most `MethodFunctionBinary`s
[code]
There are more collisions that are likely just coincidence, but the above are likely bugs.

[2022-09-03 03:50] d-torrance commented on #2590
I figured out the issue -- members of child classes have the `SpecialExpr` type, so adding that case to the `when` cause fixes it.  Closing.

[2022-09-03 03:50] #2590 closed

[2022-09-03 21:01] DanGrayson commented on #2591
These collisions are important to prevent only if the functions are used as keys in hashtables.  I think they never are.

[2022-09-04 05:03] mahrud commented on #2591
Literally all of the methods above are used as keys in hash tables 🙃

[2022-09-04 11:49] DanGrayson commented on #2591
Which hash tables?

[2022-09-04 14:09] mahrud commented on #2591
Types.

[2022-09-04 16:49] DanGrayson commented on #2591
Ah, right, I was focusing on the functions in your item #3 above, which are not.

A particularly egregious example is `(buckets Module)#149`, which has 29 entries in a linked list.  Making the hash codes different might be a good way to avoid searching that list every time one of those methods is called.  And a good way to do that would be to add a integer field to the line `export FunctionClosure

[2022-09-04 16:49] DanGrayson commented on #2591
Good catch!

[2022-09-04 21:48] mahrud commented on #2591
That isn't the worst by far:
[code]

Even for types alone, there are 32 keys with the same hash in Matrix and 49 on Ideal:
[code]
Broken hash on MethodFunctionWithOptions is responsible for all of them.

[2022-09-04 22:06] mahrud commented on #2591
Can I ask you to rewrite all of `evaluate.d`? I think I've done as best as I could optimizing `methods.m2` but `evaluate.d` is one of the largest files in the interpreter and I bet there are many many other bugs making methods slow that are so hard to find because of how messy it is.

`hashtables.dd` is not nearly as bad, but what's shocking about that file is that you are the _only_ contributor t

[2022-09-05 10:57] mahrud opened #2596 "Keyword shield doesn't work"
The [documentation](http://www2.macaulay2.com/Macaulay2/doc/Macaulay2/share/doc/Macaulay2/Macaulay2Doc/html/_shield.html) claims:

Unless I'm misunderstanding the page, which doesn't include any examples, `shield` doesn't seem to be working:
[code]

[2022-09-05 12:09] DanGrayson commented on #2591
I'll take a look ...

[2022-09-05 12:32] DanGrayson commented on #2596
Yup, it seems that that doesn't work.  Good catch.

[2022-09-05 22:38] mahrud commented on #2596
I doubt this will be easy to do for a volunteer. The relevant code is in `evaluate.d` and the most recent changes to it are from 13 years ago by you (there are no other contributors).

[2022-09-06 11:18] DanGrayson commented on #2591
I see no reason to rewrite evaluate.d, actors5.d, and hashtables.dd -- I'd probably introduce more new bugs than I found.  When I wrote the files for the first time, plenty of thought went into them -- rewriting them would be more slapdash.

[2022-09-06 12:30] #2542 closed

[2022-09-06 14:12] mahrud commented on #2586
It still remains to:
- [ ] remove the existing `gh-pages` branch
- [ ] generate and serve the doxygen documentation on the macaulay2.com server

[2022-09-06 15:31] DanGrayson commented on #2591
I can't figure out what I meant by that comment, written 19 years ago.

[2022-09-06 16:41] mahrud commented on #2355
@DanGrayson closed #2591, but this issue would also greatly benefit from him going through and optimizing the code for evaluating method calls. I've done what I could at the top level, but the relevant code in the interpreter seems impenetrable to me.

Even going through `evaluate.d`, `actors5.d` and commenting what each of the functions do would already be very helpful, especially since a lot of

[2022-09-06 17:20] mahrud opened #2602 "Strange behavior in assignment of ring variables"
Here's an unexpected error:
[code]
Skipping the first line resolves it, but either it shouldn't be an error at all or it should always be an error, because I used `QQ(monoid[a,b,c])` as opposed to `QQ[a,b,c]`.

[2022-09-06 17:27] mahrud opened #2603 "std::binary_function is deprecated"
Recently there are many new warnings like this:
[code]
I think simply removing the inheritance might resolve it, but I'm not sure.

[2022-09-06 17:35] DanGrayson commented on #2602
The symbols a,b,c are given values by the assignment statement on line 2, but only if R is a global variable.  The presence of line 1 makes R a local variable.

[2022-09-06 17:38] mahrud commented on #2602
Ah, right, I was concentrating on the wrong aspect here.

[2022-09-06 17:38] #2602 closed

[2022-09-06 21:08] d-torrance opened #2604 "Segfault on startup on Ubuntu 22.10"
I've noticed that the amd64 PPA build for Ubuntu 22.10 (the current development release -- not to be officially released until October) has been segfaulting for the last week or so (e.g., [this build](https://launchpadlibrarian.net/622079032/buildlog_ubuntu-kinetic-amd64.macaulay2_1.20.0.1+git202209061534-0ppa202209021435~ubuntu22.10.1_BUILDING.txt.gz)).

I was able to reproduce the issue locally

[2022-09-07 12:47] DanGrayson commented on #2604
But the stack trace says the segmentation fault is happening at "evaluate_evalraw at ../d/evaluate.d:1469".  Can you reproduce the bug while compiling in debug mode?  Then you could get more info using gdb.

[2022-09-07 13:00] d-torrance commented on #2604
I've confirmed that the segfault happens during the call to `get` on line 355.  I'll try compiling in debug next.

[2022-09-07 13:05] DanGrayson commented on #2604
What does the file "srcdir" contain?

[2022-09-07 14:20] d-torrance commented on #2604
No segfault in debug mode.  :(

[code]

[2022-09-07 17:36] d-torrance commented on #2604
Two things that are probably related:

* Ubuntu 22.10 defaults to GCC 12 (the earlier releases default to GCC <= 11)
* Ubuntu defaults to builds with link-time optimization (the GCC <= 11 Ubuntu builds with LTO work file, and the Debian GCC 12 builds *without* LTO also work fine)

[2022-09-07 17:49] DanGrayson commented on #2604
What is link time optimization?

[2022-09-07 17:51] d-torrance commented on #2604
Here's Ubuntu's wiki page on the subject: https://wiki.ubuntu.com/ToolChain/LTO

Fedora is using it, too, and Debian plans to switch to it in the not-too-distant future.

[2022-09-07 17:58] DanGrayson commented on #2604
Well, that doesn't sound bad.

If you give up, let me know how to install a copy of that ubuntu version and I'll take a look.

[2022-09-08 12:44] d-torrance commented on #2604
Yeah, I'm pretty stumped.  The segfault is happening somewhere between the top-level call to `get` in `startup.m2.in` and the interpreter-level `getfun` in `actors4.d`, so I guess it makes sense that we're getting `evaluate.d` stuff in the stack trace.

My guess is that you wouldn't necessary need Ubuntu 22.10 to reproduce the issue, but just try compiling  using GCC 12 with the LTO build flags.

[2022-09-08 13:12] DanGrayson commented on #2604
Are you saying that 22.04 might display the bug?

[2022-09-08 17:16] d-torrance commented on #2604
Yes -- just confirmed this by building the development branch in 22.04 using GCC 12 and the LTO build flags and got the segfault.  Here was my call to the `configure` script:

[code]
Note that `dpkg-buildflags` is in the `dpkg-dev` package.  I imagine you could skip the various `--with-*` flags -- I just use those so I don't have to build all the submodules.

[2022-09-08 18:03] d-torrance commented on #2604
I've confirmed that disabling the LTO build flags fixes the PPA build for Ubuntu 22.10.  Today's build has gotten past all that and is happily building documentation.

[2022-09-08 19:47] DanGrayson commented on #2604
Oh, well, then, maybe I don't have to do anything, since it's clearly a bug in the LTO, not in our code.

[2022-09-09 02:22] mahrud commented on #2604
Fedora uses GCC 12 and enables LTO by default, I don't have any issues.

[2022-09-09 11:38] DanGrayson commented on #2604
Mahrud and Doug, maybe if we compare the exact gcc versions on your two machines, we can see whether the LTO bug has been fixed.

[2022-09-09 11:54] d-torrance commented on #2604
On my Ubuntu 22.04 machine:
[code]

And the 22.10 chroot:
[code]
@mahrud - Are you using the same LTO flags? `-flto=auto -ffat-lto-objects` in `CFLAGS`/`CXXFLAGS` and `-flto=auto` in `LDFLAGS`?

[2022-09-09 21:36] mahrud commented on #1589
To be clear, I wasn't suggesting any changes in the engine or even the interpreter, only changing the top level so the type `Ideal` covers both types of storing an ideal.

[2022-09-13 09:57] d-torrance opened #2609 "Associativity of exponentiation"
Consider the following:

[code]

I would have expected `x^8`.

Should `^` be right-associative to match the usual mathematical convention?

[2022-09-13 10:28] d-torrance commented on #2609
This is a duplicate of #1238 -- closing.

[2022-09-13 10:28] #2609 closed

[2022-09-14 23:47] mahrud commented on #2581
Part of the goal is to appeal to people closer to combinatorics by keeping the syntax as close to the standard syntax as possible (in the same way that, for instance, `QQ[x,y,z]` appeals to others).

[2022-09-15 00:14] mahrud opened #2610 "Kernel of ring maps in mixed characteristic"
Here's a simple computation that does not currently work:
[code]
One fix would be to generalize the existing strategy that uses `graphIdeal`, which also doesn't currently work:
[code]
But this should be easy to fix, since the graph isn't defined differently over integers.

Reported by @sashapevzner

[2022-09-15 00:19] mahrud opened #2611 "Primes in mixed characteristic"
Another easy computation that does not work over the integers:
[code]
I believe the algorithm of Gianni-Trager-Zacharias should work for `minimalPrimes` over integers. Is that right, @jchen419?

Somewhat related, codimension also doesn't work, but I believe it is at least a well-defined notion, since we can just look at the primary decomposition of I.
[code]

Reported by @sashapevzner

[2022-09-15 00:26] mahrud opened #2612 "Prune in mixed characteristic"
Here is a computation that is does not work correctly over integers:
[code]
In some cases there even are zero vectors in the presentation matrix, so there's something strange going on.

Note that using `PruneComplex` already works:
[code]
So the bug is likely in the code for pruning the units implemented in the Core.

Reported by @sashapevzner

[2022-09-15 02:44] jchen419 commented on #2611
Yes, in general the algorithms described in GTZ work over any PID (at least if factorization is algorithmic). So using `MinimalPrimes.m2` it should in theory be possible to test primality in polynomial rings over `ZZ`.

I agree that codimension - which is unambiguously defined for every ideal in any commutative ring whatsoever - should be made to work over `ZZ`, as `Generic => true` is not really

[2022-09-19 03:34] d-torrance opened #2617 "ForeignFunctions on big-endian architectures"
The new `ForeignFunctions` package isn't working on big-endian architectures.  For example, from one of[ today's PPA builds on s390x](https://launchpadlibrarian.net/624433041/buildlog_ubuntu-jammy-s390x.macaulay2_1.20.0.1+git202209171831-0ppa202209180032~ubuntu22.04.1_BUILDING.txt.gz):

[code]

[2022-09-19 18:59] d-torrance commented on #2617
Figured out the issue. For some reason, I had decided to initially dereference pointers to integer types to `long` and then cast them to the appropriate type.  This is undefined behavior that just happens to work on little-endian machines, but not so much on big-endian.

[2022-09-20 15:50] d-torrance commented on #2586
FYI, `gh-pages` is back since the workflow was run again on Sunday.  This should stop once #2588 is merged into `master`.

[2022-09-23 13:23] #2550 closed

[2022-09-23 13:23] #2617 closed

[2022-09-24 03:26] mahrud opened #2623 "Set and delete"
Here's a wildly undefined behavior:
[code]

Reported by Connor Simpson.

[2022-09-25 15:19] DanGrayson commented on #2623
A glance at the documentation and code shows that "delete" was designed to work only on lists, not hash tables, which is why the results are surprising.  (It's deleting entries with a certain value, not entries with a certain key; all values in a set are 1.)

It would be useful to make it also work for hash tables.

Notice that `remove` is available for mutable hash tables.

[2022-09-25 19:53] mahrud commented on #2623
Then it should give an error.

[2022-09-28 09:54] fragandi commented on #1430
Hi, came across this as I was looking for something else. You can also run M2 on a sage worksheet (in CoCalc) just by changing the mode... so on a sage worksheet you can write (an example from code I have)

[code]

Then run these lines of code/input cell and an output cell with the M2 output will display below.

I have to experiment more with this but it seems that one can use a sage worksheet as

[2022-10-11 08:12] naddington commented on #978
Thanks for letting me know!

[2022-10-11 09:01] mikestillman commented on #1668
Ouch.  Yes!

Sent from my iPhone

[2022-10-12 08:12] dr-rizwanj opened #2638 "error with shellable simplicial complexes"
Please look into the attached file for an explanation of the error.
[4_5798491211522117076.pdf](https://github.com/Macaulay2/M2/files/9762922/4_5798491211522117076.pdf)

[2022-10-12 17:28] DanGrayson commented on #2638
@dcookii -- this seems to involve your package SimplicialDecomposability

[2022-10-13 01:43] pzinn opened #2640 "Inputting strings with empty lines"
I'm not sure if this is a bug or a feature. Try the following: (can be done in emacs, terminal or web interface, result is the same)
type `a="[enter]"[enter]` where [enter] is the new line key.
M2 correctly interprets this as assigning to `a` the string containg the single new line character. so far, so good.
now type `a="[enter][enter]"[enter]`. you'd assume M2 would interpret it as a assigning t

[2022-10-13 01:45] #2496 closed

[2022-10-13 16:22] DanGrayson commented on #2640
That's due to me.  Long ago I thought it would be useful to have a quick way to abort an input, by just typing an extra carriage return.  Maybe we don't need that feature any longer, because one can always just type CTRL-C (or tell emacs to send an interrupt.)

[2022-10-13 20:50] d-torrance commented on #2640
I think it would be good to remove this feature.  CTRL-C is sufficient, and that works great in other platforms with a REPL.  Also, the current behavior isn't consistent, since saving a file, say `foo.m2` with the following and then redirecting to Macaulay2 works:

[code]

Indeed:
[code]

[2022-10-14 23:10] DanGrayson commented on #2640
Okay, let's remove the feature.  Any volunteers?

[2022-10-15 10:34] pzinn commented on #2640
I could take a look. any pointers?

[2022-10-15 14:07] DanGrayson commented on #2640
It's probably just a matter of removing the line with the comment on it, here in lex.d:

<img width="1158" alt="Screen Shot 2022-10-15 at 7 07 18 AM" src="https://user-images.githubusercontent.com/700228/195990892-2adf895a-14c4-47f9-beb9-207761f320b1.png">

[2022-10-26 03:45] #2503 closed

[2022-10-30 13:25] d-torrance opened #2651 "RandomGenus14Curves tests take a long time"
For example, on my machine at home:

[code]
I'm kind of surprised that this hasn't showed up in any Debian builds or CI tests until now, but after my latest upload, these tests are running out of memory on the armel architecture, e.g.:

[code]
Full log: https://ci.debian.net/data/autopkgtest/testing/armel/m/macaulay2/27616151/log.gz

[2022-10-30 21:41] DanGrayson commented on #2651
That's too long.

[2022-11-01 10:34] pzinn opened #2655 "Proper formatting of source code"
This is a minor issue, but the code in the documentation is not quite correctly formatted.
consider `help exponents` (or https://www.unimelb-macaulay2.cloud.edu.au/usr/share/doc/Macaulay2/Macaulay2Doc/html/_exponents.html)
The code section is produced with `M2CODE`, so in HTML is translated into a `<pre><code language="Macaulay2">...</code></pre>`.
so far, so good. but the code is invalid: it's
[c

[2022-11-01 20:42] DanGrayson commented on #2655
If you modify the format of that line, you'll also have to modify the code for the emacs function `M2-send-to-program-or-jump-to-source-code`, which will jump to the source code when RETURN is pressed on that line.

By the way, the source code position is wrong at my end -- it points to a non-existent file.  I wonder how that got screwed up.  It hasn't worked since the feature appeared in version

[2022-11-03 09:12] src2165 opened #2658 "Possible Chern class computation error when pushing forward O(1)"
I have the following code:
[code]

Since projectiveBundle uses the classical (Fulton) convention, it should be that `gamma_*OO_PSym2E(1)=dual(symmetricPower(2,E))`, and thus `chern(gamma_*OO_PSym2E(1))=chern(dual(symmetricPower(2,E)))`, but we get the following two outputs instead:
[code]
Just to double check that it wasn't just a sign convention issue, we also have
[code]
I did the computation by

[2022-11-04 11:07] pzinn commented on #2655
that would be a small price to pay.

[2022-11-05 04:18] HamidHassanzadeh opened #2664 "loadPackage goes inside the package"
Hi,
I have updated my m2 version to 1.20.
There are some packages such as ResidualIntersections, SimplicialComplexes, EdgeIdeals, that whenever I load them, M2 goes inside them. This does not happen in the online interface of M2.
I'll be thankful if one helps me to sole the problem on my computer.
The problem is like what follows:

[code]

[2022-11-05 05:51] mahrud commented on #2664
This is happening because there's an error in a package dependency (namely `Normaliz`). Try running the following:
[code]

[2022-11-06 01:29] HamidHassanzadeh commented on #2664
Thanks, Mahrub. Yes, it solved the problem!

[2022-11-06 06:15] #2664 closed

[2022-11-08 04:00] d-torrance opened #2670 "Undocumented behavior of "remove""
According to the [documentation](https://faculty.math.illinois.edu/Macaulay2/doc/Macaulay2-1.20/share/doc/Macaulay2/Macaulay2Doc/html/_remove.html), `remove` is for removing keys from mutable hash tables.  But according to the source code, it also supports lists, sequences, and databases:

https://github.com/Macaulay2/M2/blob/b754a3d591812474926f8f0f4c6ca4b3a76a01d0/M2/Macaulay2/d/actors5.d#L571-L

[2022-11-09 17:43] #2623 closed

[2022-11-10 02:15] d-torrance commented on #1456
This popped up again on an [arm64 PPA build for Ubuntu 22.04](https://launchpadlibrarian.net/632908078/buildlog_ubuntu-jammy-arm64.macaulay2_1.20.0.1+git202211091800-0ppa202211051036~ubuntu22.04.1_BUILDING.txt.gz):

[code]

[2022-11-14 21:28] mahrud opened #2682 "Error linking with libquadmath"
I kept getting linking errors for a while, and I just noticed that it's also causing issues building brew bottles on ubuntu:
[code]
On my machine linking with `quadmath` resolves this, but apparently this fails on MacOS. @d-torrance any ideas what might be behind this?

[2022-11-15 00:20] d-torrance commented on #2682
Does defining the `BOOST_MATH_DISABLE_FLOAT128` macro help at all?  We use MFPR for all the Boost special functions, so there's no reason to link against libquadmath for 128-bit floats.

[2022-11-15 02:51] mahrud commented on #2682
It doesn't seem like it. Can you try seeing if your executables are linked with `libquadmath`, and if so does passing that actually remove it?

[2022-11-15 10:34] mahrud opened #2683 "FFI example error on Ubuntu 22.04"
One [example](https://github.com/Macaulay2/homebrew-tap/actions/runs/3465824882/jobs/5789005813#step:9:15916) seems to be failing when bottling M2 from the main branch for Ubuntu 22.04 when using brew's libffi:
[code]
I can also reproduce this locally on Fedora using systems libffi.
[code]
What is the trace so short? I'd expect it to at least show something in the ffi code in the interpreter.

cc:

[2022-11-15 12:16] d-torrance commented on #2683
I'll see if I can reproduce this -- I haven't tried using brew's libffi.

What version is the Fedora libffi?  I noticed brew has the newest version 3.4.4, which I haven't actually tested yet since the development release of Ubuntu still has 3.4.2.

[2022-11-15 16:21] mahrud commented on #2683
Fedora also has 3.4.2.

[2022-11-15 18:28] d-torrance commented on #2683
I successfully reproduced the issue using the brew build.  I'll see if I can figure out what's going on.

[2022-11-15 19:58] mahrud commented on #2683
I'm surprised that it worked fine on all Macs, 10.15 through 12!

[2022-11-16 23:21] d-torrance commented on #2682
I was able to reproduce this using brew's Boost, which is version 1.80.  The Debian/Ubuntu packages are still at 1.74, which is probably why I never saw this (plus the autotools build was already adding `-lquadmath` to the linker flags -- I'm not 100% sure why...)

This is https://github.com/boostorg/math/issues/733, and linking with `-lquadmath` appears to be the correct solution.

[2022-11-20 14:39] mikestillman opened #2687 "inconsistent naming of matrix factorization functions"
We make available functions for the LU, QR and SVD decompositions of a matrix over the reals, for example.

However the names are ```LUdecomposition```, ```QRDecomposition```, and ```SVD```.
While we probably can't change these , I suggest we make changes so that ```LUDecomposition``` and ```SVDDecomposition``` all work.  Or does anyone have better ideas for the (consistent) names we should use?

[2022-11-20 22:46] DanGrayson commented on #2687
Those are certainly inconsistent.

I think it should be `SVDecomposition` instead of `SVDDecomposition`.  We could also just spell it out completely, as no one likes acronyms: "SingularValueDecomposition`.

[2022-11-21 22:55] mahrud opened #2689 "Using "Rebase and merge" to keep the history linear"
This is a suggestion to use "Rebase and merge" when merging pull requests instead of just making a merge commit. This is something I've started to notice in other projects, and it really makes viewing the history more managable.

GitHub can automatically do this for you, just need to select the option before merging:
![image](https://user-images.githubusercontent.com/3147718/203173134-fef2cbaf-f51

[2022-11-24 03:06] DanGrayson opened #2693 "make 4.4 presents a problem"
Something has changed between gnu make 4.2 and 4.4 and prevents compilation in the d directory:

https://github.com/Macaulay2/M2/actions/runs/3527601135/jobs/5916843792

[2022-11-24 23:13] DanGrayson commented on #2693
Observe that the files used to be made in the reverse order.
[code]

[2022-11-24 23:15] DanGrayson commented on #2693
I guess the new order is more natural.  Indeed, I had to reverse the order of the files on this line:

[code]

[2022-11-26 19:33] DanGrayson commented on #2693
Son Paul came up with a brilliant solution: double the length of the include list so it doesn't matter if the list is scanned in reverse order: 'a b c c b a'.

[2022-11-29 14:29] mikestillman commented on #2683
Here is an issue with development branch from today, built on Apple M1 Max laptop, MacOS 12.6.  @jkyang92 Was I supposed to add in something for this?  The trouble is that valgrind doesn't work with MacOS (at least not the M1 processor).  Any suggestions for what to change?  @DanGrayson Did you have a fix for this?

[code]

[2022-11-29 15:47] mahrud commented on #2683
Is this related to the foreign function interface?

[2022-11-29 15:48] jkyang92 commented on #2683
The proximate problem is valgrind.h doesn't support M1 Macs, so it doesn't correctly define OrigFn. I'll look at a good fix, but the general idea is still going to be to ifdef it off on unsupported systems. So no it has nothing to with FFI

[2022-11-29 18:19] d-torrance commented on #2683
I'm not sure if this is the same bug as the bug in the Ubuntu brew build (which I can reproduce, but am still stumped by...), but there's also an issue with ffi function closures in M1 Macs, as reported by @mikestillman.  I'm borrowing an M1 laptop from the university and was able to reproduce it:

[code]

[2022-11-29 18:24] mikestillman commented on #2683
On development branch today, I just compiled using autotools, on Apple M1, commenting out the last 5 functions in ```Macaulay2/d/M2mem.c```.  At that point, it creates the exexcutable, and almost all examples work, except for ```ForeignFunctions```, where there are 5 examples whose code fails.

Here is one of the 5 errors:
[code]

[2022-11-30 04:25] d-torrance opened #2704 "Triangulations test failures with TOPCOM 1.1.2"
@mikestillman -- I'm getting two test failures with the new `Triangulations` package when running TOPCOM version 1.1.2:

## `check(1, "Triangulations")`

https://github.com/Macaulay2/M2/blob/6b2a06a737246b4ca05989e0f6170daff3c47987/M2/Macaulay2/packages/Triangulations.m2#L879

With TOPCOM 1.1.2, we get:

[code]
I'm nowhere close to an expert in this area -- are these two weight vectors equivalent?